/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

span {
    display: flex;
    height: 2vw;
}

/* Container Principal */
.containerP {
    display: flex;
    width: 100%;
    gap: 30px;
    margin-left: 2%;
    justify-content: left;
    padding: 30px 2px;
}

.noticiaP-right {
    border-radius: 15px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.box1,
.box2 {
    height: 200px;
    width: 100%;
    margin-right: 5%;
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: left;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box1 {
    background-image: url(./img/coracao.jpg);
}

.box2 {
    margin-top: 20px;
    background-image: url(./img/sangue.jpg);
}

.titulop {
    margin-top: 10%;
    margin-left: 5%;
    width: 95%;
}

.textop {
    margin-left: 5%;
    width: 90%;
    font-weight: normal;
    font-size: 1rem;
}

h2 {
    display: flex;
    justify-content: center;
}

/*** SEGUNDA PARTE ***/
/* Esqueleto */
/*Left*/

#container2 {
    height: 1050px;
    width: 100%;
    display: flex;
    gap: 2%;
}


#leftnoticias {
    display: grid;
    /* Define layout em flexbox */
    align-items: left;
    /* Alinha itens verticalmente a esquerda */
    gap: 2%;
    /* Espaço entre a imagem e o texto */
    max-width: 60%;
    /* Define uma largura máxima para o container */
    margin: 20px auto;
    /* Centraliza o container */

}

#noticias0 {
    display: flex;
    height: 100%;
    gap: 2%;
    /* Define layout em flexbox */
}

#outrosbox {
    background-image: url(./img/menino.jpg);
    height: 100%;
    width: 50%;
    border-radius: 20px;
    margin-left: 3%;
    background-position: center;
    max-width: 60%;
}

#texto {
    margin-top: 2%;
    height: 90%;
    width: 60%;
}

H3 {
    font-size: 100%;
    line-height: 1.5;
}

#outrasN {
    margin-top: 2%;
}

/*Right*/
#topAssuntos {
    margin-top: 2%;
    border-left: medium solid;
    display: grid;
    width: 33%;
    height: 50%;
}

#top1 {
    display: grid;
    justify-content: left;
}

/* Media Queries para melhorar a responsividade */
@media (max-width: 768px) {
    .containerP {
        flex-direction: column;
    }

    .noticiaP-right {
        width: 100%;
    }

    .box1,
    .box2 {
        width: 100%;
    }

    #outrosbox {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    #leftnoticias {
        width: 100%;
    }

    #topnot {
        width: 100%;
    }
}