/* Configurações de fontes */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Sidebar */
.container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 220px;
  background-color: #4e4e4e;
  color: #ffffff;
  padding: 1rem;
}

.menu-icon {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.checkboxes label {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  font-family: "Poppins", sans-serif;
}

/* Conteúdo Principal */
.main-content {
  flex: 1;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Resultados */
.results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.result-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.image-placeholder img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #86d1e6;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.description {
  color: #666;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.btn {
  background-color: #2190fb;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background-color: #4eabf1;
}

/* Responsividade */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  #navbar {
    display: none;
  }

  .main-content {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .search-bar input {
    max-width: 100%;
  }

  .result-item .image-placeholder img {
    width: 100px;
    height: 100px;
  }
}
