#registros{
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  width: 90%;
}

#reg-titulo{
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#reg-group-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
  flex-wrap: wrap;
}

.reg-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.reg-img{
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.reg-card-h3{
  font-size: 16px;
}

.reg-card-paragrafo{
  font-size: 12px;
  width: 90%;
  color: #5A5A5A;
  margin-bottom: 10px;
}

#reg-btn-div{
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reg-btn{
  background-color: #4EAAED;
  color: white;
  font-size: 30px;
  font-weight: bold;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  cursor: pointer;
}


/*----------- modal registros------------*/

.modalRegistro {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.m-main {
  background-color: #ffffff;
  margin: 15% auto;
  width: 600px;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  flex-direction: row;
  position: relative;
  padding: 20px;
}

.m-reg-img{
  width: 40%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img{
    width: 100%;
    margin-bottom: 30px;
  }
}

.m-reg-left{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-titulo{
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.m-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.m-fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.m-fechar:hover,
.m-fechar:focus {
  color: black;
  text-decoration: none;
}

.m-reg-label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.m-reg-input {
  margin-bottom: 15px;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eaeeef;
}

.m-reg-btn{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #4EAAED;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

