#projetos{
  display: flex;
  padding: 10px 50px;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

#pj-info{
  display: flex;
  gap: 40px;
  align-items: center;
justify-content: center;
}

#pj-btn{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #AD94E5;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

#pj-main{
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.pj-card{
  background-color: white;
  width: 40%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10%;
}

.pj-card-info{
  height: 100%;
  padding: 10px;
  width: 60%;
}

.pj-img{
  border-radius: 5%;
  width: 20%;
  margin-left: 10px;
  background-color: lavender;
  cursor: pointer;
}

.pj-card-h3{
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.pj-card-paragrafo{
  font-size: 12px;
  margin-bottom: 10px;
}

.pj-card-lupa{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.pj-lupa{
  width: 45px;
  height: 45px;
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
}

.pj-ver-mais{
  font-size: 12px;
  text-decoration: underline;
  color: #4EAAED;
}

/*----------- modal projetos ------------*/

.modalProjetos {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.m-proj-main {
  background-color: #ffffff;
  margin: 10% auto;
  width: 600px;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  flex-direction: row;
  position: relative;
  padding: 20px;
}

.m-proj-img{
  width: 40%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img{
    width: 100%;
    margin-bottom: 30px;
  }
}

.m-proj-left{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-proj-infos{
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.m-proj-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
small{
  color: #aaa;
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.m-fechar:hover,
.m-fechar:focus {
  color: black;
  text-decoration: none;
}

.m-proj-label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.m-proj-input {
  margin-bottom: 15px;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eaeeef;
}

.m-proj-desc-g{
  height: 100px;
  padding: 10px;
  background-color: #eaeeef;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.m-proj-btn{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #4EAAED;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

