/* MAIN -----------------------------------------------------------*/

main {
  padding: 10px;
  margin-top: 20px;
}

/* dashboard --------------------------------------------*/

#dashboard{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

/* card perfil --------------------------------------------*/

#perfil-dash{
  background-color: #F5F9F8;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  img{
    width: 80px;
    height: 80px;
  }
}

#nome-ong{
  margin-top: 20px;
}

#tags-ong{
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

#tag-primaria{
  font-size: 10px;
  border: solid 2px;
  border-color: #AD94E5;
  color: black;
  border-radius: 15px;
  padding: 3px 18px;
}

#tag-secundaria{
  font-size: 10px;
  border: solid 2px;
  border-color: #86D1E6;
  color: black;
  border-radius: 15px;
  padding: 3px 18px;
}

#bio-ong{
  margin-top: 30px;
  font-size: 12px;
  width: 60%;
  text-align: center;
  color: #5A5A5A;
}

#ver-mais-bio{
  font-size: 10px;
  color: #2190FB;
  text-decoration: underline;
}

#infos-ong{
  margin-top: 30px;
  font-size: 10px;
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

#btn-editar-perfil{
  margin-top: 50px;
  padding: 8px 30px;
  background-color: #2190FB;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}



/*--------------------------------------------*/

#row-group{
  padding: 10px;
  width: 66%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* dashboard: linha 1 --------------------------------------------*/

.row-1-dash{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.row-1-card-dash{
  background-color: #F5F9F8;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 28px;
  font-size: 12px;
}

/* dashboard: linha 2 --------------------------------------------*/

.row-2-dash{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.row-2-card-dash{
  background-color: #F5F9F8;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-row-2{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 10px;
  p{
    font-size: 12px;
    font-weight: bold;
  }
}

/* dashboard: linha 3 --------------------------------------------*/

.row-3-dash{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.row-3-card-dash{
  background-color: #F5F9F8;
  width: 100%;
  height: 130px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 28px;
  justify-content: center;
  p{
    font-size: 12px;
  }
  h3{
    font-size: 14px;
  }
}