* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Poppins;
}
/* ----------------------------------------------------------------*/
body{
  background-color: #efefef;
}

/* ---------------------------- HEADER ------------------------*/

header{
  background-color: #4EABF1;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 40px;
}

main{

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------Sessão Logotipo-----------------------*/

#div-logotipo{
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

#logotipo{
  height: 70%;
}

/* --------------Sessão barra de pesquisa----------------------*/


/* -------------------Sessão Navbar-----------------------------*/
#div-navbar{
  
  display: flex;
  flex-direction: row;
  gap: 100px;
}

#navbar{
  display: flex;
  align-items: center;
  gap: 30px;
}

.opcao-pagina{
  font-size: 12px;
  color: white;
  font-weight: bold;
}

/* ---------------------Sessão icon--------------------------*/

#div-user-icon{
  height: 100%;
  display: flex;
  align-items: center;
}

#user-icon{
  height: 60%;
}

/* ---------------------------- FOOTER ------------------------*/

footer{
  background-color: #4EABF1;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;

}

#footer-menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  a{
    color: #e6e6e6;
    font-size: 14px;
  }
  h3{
    color: white;
    font-size: 16px;
  }
}

#footer-infos{
  display: flex;
  flex-direction: column;
  gap: 5px;
  a{
    color: #e6e6e6;
    font-size: 14px;
  }
  h3{
    color: white;
    font-size: 16px;
  }
}

#footer-sec{
  display: flex;
  gap: 30px;
}

#footer-contato{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: solid 2px #e6e6e6;
  flex-direction: column;
  gap: 10px;
  input{
    height: 40px;
    width: 300px;
    padding-left: 10px;
    border-radius: 5px;
  }
  textarea{
    width: 300px;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
  }
  button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 10px 0px;
    cursor: pointer;
  }
}

#footer-redes{
  margin-top: 30px;
  display: flex;
  gap: 20px;
  img{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}