* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Poppins;
}
/* ----------------------------------------------------------------*/
body{
  background-color: #efefef;
}

/* ---------------------------- HEADER ------------------------*/

header{
  background-color: #4EABF1;
  height: 80px;
  display: flex;
  flex-direction: row;
  padding: 0px 40px;
}

main{

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------Sess達o Logotipo-----------------------*/

#div-logotipo{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 70px;
  input{
    height: 40px;
    border-radius: 8px;
    width: 50%;
    padding-left: 10px;
  }
}

#logotipo{
  height: 100px;
}

/* --------------Sess達o barra de pesquisa----------------------*/


/* -------------------Sess達o Navbar-----------------------------*/
#div-navbar{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 100px;
  padding-right: 90px;
  width: 50%;
}

#navbar{
  display: flex;
  align-items: center;
  gap: 30px;
}

.opcao-pagina{
  font-size: 12px;
  color: white;
  font-weight: bold;
}

/* ---------------------Sess達o icon--------------------------*/

#div-user-icon{
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}

#user-icon{
  height: 60%;
}

#menu-icon{
  display: none;
  height: 60%;
  width: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* ---------------------------- FOOTER ------------------------*/

footer{
  background-color: #4EABF1;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;

}

#footer-menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  a{
    color: #e6e6e6;
    font-size: 14px;
  }
  h3{
    color: white;
    font-size: 16px;
  }
}

#footer-infos{
  display: flex;
  flex-direction: column;
  gap: 5px;
  a{
    color: #e6e6e6;
    font-size: 14px;
  }
  h3{
    color: white;
    font-size: 16px;
  }
}

#footer-sec{
  display: flex;
  gap: 30px;
}

#footer-contato{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: solid 2px #e6e6e6;
  flex-direction: column;
  gap: 10px;
  input{
    height: 40px;
    width: 300px;
    padding-left: 10px;
    border-radius: 5px;
  }
  textarea{
    width: 300px;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
  }
  button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 10px 0px;
    cursor: pointer;
  }
}

#footer-redes{
  margin-top: 30px;
  display: flex;
  gap: 20px;
  img{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}


/* -----------------------MEDIA QUERIE ------------------------*/

@media (max-width: 600px) {

  header{
    height: 80px;
    padding: 0px 30px;
  }
  
  #div-logotipo{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
    input{
      height: 40px;
      width: 100%px;
      padding-left: 10px;
    }
  }
  
  #logotipo{
    height: 70px;
  }
  
  #div-navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    padding-right: 5px;
    width: 20%;
  }
  
  #navbar{
    display: none;
    align-items: center;
    gap: 5px;
  }
  
  .opcao-pagina{
    font-size: 12px;
    color: white;
    font-weight: bold;
  }

  #div-user-icon{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  
  #user-icon{
    height: 60%;
    display: none;
  }
  
  #menu-icon{
    display: flex;
    height: 40px;
    width: 40px;
    margin-right: 20px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* -------------- FOOTER -------------*/

  footer{
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    padding: 30px;
  }

  #footer-sec{
    gap: 8px;
  }

  #footer-menu{
    gap: 5px;
    a{
      font-size: 10px;
    }
    h3{
      font-size: 12px;
    }
  }

  #footer-infos{
    a{
      font-size: 10px;
    }
    h3{
      font-size: 12px;
    }
  }

  #footer-redes{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    img{
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  #footer-contato{
    padding: 12px;
    gap: 10px;
    input{
      height: 25px;
      width: 250px;
    }
    textarea{
      width: 250px;
    }
    button{
      margin: 5px 0px;
    }
  }

}